body {
    margin: 0px;
    padding: 0px;
}

.Web {
    position: relative;
    height: 100vmax;
    background-color: #0f0f0f;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    padding: 2px;
    background-color: #999999;
    background-clip: padding-box;
    border: 3px solid transparent;
}

::-webkit-scrollbar-track {
    background-color: #0f0f0f;
    padding: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.TopBar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    /* border: 1px solid red; */
    height: 56px;
    background-color: #0f0f0f;
    z-index: 999;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.TopBarItems {
    display: flex;
    align-items: center;
    height: 56px;
    margin: 0;
    padding: 0;
}

.MenuBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MenuIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 8px;
    cursor: pointer;
}

.Bars {
    width: 18px;
    height: 14px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Bar {
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.MenuIcon:hover {
    border-radius: 24px;
    background-color: #333;
}

.Logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 18px 14px 18px 16px;
}

.Logo-KR {
    height: 44px;
    color: #aaa;
    margin: 12px 0px 0 -10px;
    font-size: 10.44px;
}

.SearchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 56px;
    flex: 0 1 728px;
}

.SearchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 728px;
    margin: 0 0 0 40px;
    padding: 0 4px;

}

.SearchBox form {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.SearchBox input {
    display: none;
    width: 100%;
    height: 38px;
    outline: none;
    border: 1px solid hsl(0deg 0% 19%);
    border-radius: 24px 0px 0px 24px;
    margin-left: 32px;
    padding: 0px 4px 0px 16px;
    background-color: hsl(0deg 0% 7%);

}

::-webkit-input-placeholder {
    font-size: 16px;
    color: #666;
    font-weight: 400;
}

.SearchBox input:focus {
    border-color: #065fd4;
    outline: none;
}

.SearchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #0f0f0f;
    cursor: pointer;
    height: auto;
    padding: 8px;

}

.SearchIcon:nth-child(1) {
    background-color: #222;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.LoginBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 56px;
}

.DotContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 8px;
    cursor: pointer;
}

.Dots {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 18px;
    height: 14px;
    padding: 2px;
}

.Dot {
    background-color: #fff;
    width: 2px;
    height: 2px;
}

.Login {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 97.5px;
    height: 34px;
    border: 1px solid hsl(0deg 0% 19%);
    border-radius: 24px 24px 24px 24px;
    cursor: pointer;
}

.Login:hover {
    background-color: #3d98e839;
}

.SideBar {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    flex-basis: 1e-9px;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    overflow-y: scroll;
    padding-right: 18px;
    background-color: #0f0f0f;
    box-sizing: border-box;
}

.SideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    width: 240px;
    flex-shrink: 1;
    border-bottom: 1px solid #333;
    box-sizing: border-box;
}

.SideContainer:nth-child(4) {
    width: 240px;
    padding: 16px 32px;
}

.SideBox {
    width: 204px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    padding: 0px 12px;
    cursor: pointer;
    box-sizing: border-box;
}

.SideBox p {
    font-size: 14px;
    width: 132px;
    height: 20px;
    font-weight: 500;
    color: #fff;
    margin: 0;
}

.SideBox:hover {
    border-radius: 8px;
    background-color: #333;
}

.I_Box {
    width: 240px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.I_Box p {
    width: 176px;
    height: 60px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin: 0;
}

.SideBar::-webkit-scrollbar {
    width: 15px;
    /* display: none; */
}

.SideBar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    padding: 2px;
    background-color: #555555;
    background-clip: padding-box;
    border: 3px solid transparent;
}

.SideBar::-webkit-scrollbar-track {
    background-color: #0f0f0f;
    margin-top: 56px;
}

.SideBar::-webkit-scrollbar:hover {
    display: block;
}

.FooterContainer {
    /* display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    padding: 12px;
}

.FooterContainer p {
    color: #999999;
    font-size: 13px;
    margin: 0px;
}

.Feed {
    position: sticky;
    top: 56px;
    margin-left: 240px;
    background: #0f0f0f;
    z-index: 10;
}

.FeedBar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 56px;
    margin-left: 240px; */
    margin-left: 24px;
    color: white;
    /* background-color: #0f0f0f; */
}

.FeedBar li {
    display: flex;
    width: auto;
    height: 32px;
    margin: 12px 12px 12px 0px;
    padding: 0px 12px;
    color: #fff;
    background-color: #333;
    border-radius: 8px;
    font-size: 14px;
    align-items: center;
    border: none;
    cursor: pointer;
    word-break: break-all;
}

.FeedBar li:hover {
    background-color: rgb(75, 75, 75);
}

.ContentsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    gap: 1rem;
    /* max-width: 20rem; */
    padding-top: 20px;
    margin: 0px 24px 0px 24px;
    /* border: 1px solid red; */

}

.ContentsBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.Box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-shrink: 1; */
    /* padding: 1rem; */
    background-color: #333;
    border: 1px solid;
    border-radius: 24px;
    width: 359.98px;
    height: 202.48px;
}

.ContentsBox :nth-child(2) {
    display: flex;
    justify-content: left;
    color: white;
    /* border: 1px solid red; */
    width: auto;
    height: 100px;
}

.Profile {
    box-sizing: border-box;
    background-color: #333;
    /* border: 1px solid white; */
    border-radius: 50%;
    margin: 12px 12px 0px 0px;
    width: 36px;
    height: 36px;
    text-align: center;
    font-size: small;
}

.Title {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    font-size: 14px;
    margin-top: 12px;
}

.Title :nth-child(1) {
    border: 1px solid #333;
    width: 280px;
    font-size: 16px;
    margin-bottom: 8px;
    background-color: #333;
}

.Title :nth-child(2) {
    border: 1px solid #333;
    height: auto;
    margin-bottom: 8px;
    width: 200px;
    background-color: #333;
}

.Title :nth-child(3) {
    border: 1px solid #333;
    height: auto;
    margin-bottom: 8px;
    width: 150px;
    background-color: #333;
}


@media (max-width: 655px) {
    .Web {
        height: auto;
        overflow: hidden;
    }

    .TopBar {
        padding: 0px 8px;
    }

    .SearchIcon {
        margin-right: 2px;
    }

    .SearchIcon:hover {
        background-color: #333;
        border-radius: 50%;

    }

    .Mic {
        background-color: #222;
        width: 40px;
    }

    .SideBar {
        display: none;
    }

    .Feed {
        margin-left: 0;
        box-sizing: border-box;
    }

    .Main {
        margin-left: 0;
    }

    /* .MainBox {
        display: flex;
    } */
    /* .ContentsContainer {
        display: flex;
        flex-direction: column;
    } */

}

@media (min-width: 655px) {
    .TopBarItems {
        justify-content: space-between;
    }

    .SearchIcon {
        width: 64px;
        height: 40px;
        border: 1px solid hsl(0deg 0% 19%);
        border-left: none;
        border-radius: 0px 24px 24px 0px;
        background-color: #222;
        padding: 1px 6px;
        margin-right: 1px;
    }

    .SearchIcon:nth-child(1) {
        background-color: rgba(34, 34, 34, 0.5);
        border: none;
        border-radius: 50%;
    }

    .Mic .SearchIcon:hover {
        background-color: #333;
    }

    .SearchBox input {
        display: block;
    }

    .ContentsContainer {
        margin-left: 264px;
    }

    .ContentsBox {
        width: inherit;
    }
}